@charset "UTF-8";
/*Imports SASS*/
/*Variable de color blanco para los titulos y subtitulos del index (DJ PORTERO, CALIDAD, PRECIO Y DIVERSIÓN)*/
/*Background color grilla5 sección Contacto*/
/*Color negro para la clase colores2 del subtitulo "Solo para divertidos"*/
/*Estilos generales todas las secciones*/
/*Reseteo*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@100;200&family=Roboto:wght@100&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*Estilo general para el body*/
body {
  background-color: #8E9AAF;
}

/*Barra de navegación bootstrap*/
header .navigator {
  padding: 0px;
}
header .navigator a {
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  font-size: 15px;
  color: black;
  text-decoration: none;
}

/*Icono barra de navegación*/
.icono {
  height: 35px;
  margin-left: 0px;
}
.icono:hover {
  transform: scale(1.1);
  transition-property: all;
  transition-duration: 2s;
}

/*Footer en todas las secciones*/
footer {
  background-color: white;
  padding: 10px;
}
footer .titulo-seccion {
  color: black;
  text-align: center;
  padding: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
}
footer .copy {
  color: black;
  text-align: center;
  padding: 30px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: bolder;
}
footer .redes-sociales {
  display: flex;
  justify-content: center;
}
footer .redes-sociales i {
  font-size: 25px;
  padding: 20px;
  color: black;
}
footer .redes-sociales .wspcolor {
  color: rgb(37, 221, 102);
}
footer .redes-sociales .instacolor {
  color: rgb(228, 64, 95);
}
footer .redes-sociales .twcolor {
  color: cornflowerblue;
}
footer .redes-sociales .ytcolor {
  color: red;
}
footer .redes-sociales .linkecolor {
  color: rgb(0, 119, 181);
}
footer .contenedor h2 {
  font-size: 25px;
}

/*Index SASS*/
main .inicio {
  margin-top: -30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/32052.jpg);
  margin-bottom: -10px;
  padding: 60px;
}
main .inicio .logocentrar .logoInicio {
  height: 95px;
  margin-bottom: 0px;
  margin-top: 40px;
}
main .inicio .titulo {
  color: white;
  font-weight: bolder;
  font-size: 40px;
  margin-top: 30px;
  padding: 35px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
main .inicio #subtitulo1 {
  color: white;
  text-align: center;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
}
main .inicio #subtitulo2 {
  color: white;
  text-align: center;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
}
main .inicio #subtitulo3 {
  color: white;
  text-align: center;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
}
main .video-txt {
  background-image: url(../img/fondoblanco.jpg);
  margin-bottom: -20px;
  padding: 60px;
  grid-area: video-txt;
}
main .video-txt .colores2 {
  color: black;
  margin-top: 10px;
  margin-left: 24px;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  padding: 20px;
  font-weight: bolder;
  grid-area: colores2;
}
main .video-txt #promo-video {
  margin-top: 30px;
  margin-left: 10px;
  margin-bottom: 50px;
  width: 100%;
  height: 250px;
}
main .grilla4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main #promo-video {
  margin-top: 30px;
  margin-left: 10px;
  margin-bottom: 10px;
  height: 169px;
  width: 400px;
}
main .info {
  display: flex;
  flex-direction: column;
}
main .info .slide {
  margin-top: 0px;
}
main .info .slide img {
  height: 65vh;
}
main .imagenexe {
  margin-left: 0px;
}
main .titulo-elegir {
  text-align: center;
  font-weight: bolder;
  font-family: "Poppins", sans-serif;
  padding: 30px;
  font-size: 40px;
  margin-bottom: 800px;
  background-image: url(../img/fondo-suelo-textura-madera-blanca_53876-63634.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
main .contenedor12 {
  display: flex;
  justify-content: center;
  background-image: url(../img/fondo-suelo-textura-madera-blanca_53876-63634.webp);
  background-size: auto;
  background-position: center;
  margin-top: -800px;
}
main .contenedor12 .cards {
  background-color: white;
  width: 270px;
  height: 400px;
  margin: 30px;
  border: 10px black double;
}
main .contenedor12 .cards h2 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
}
main .contenedor12 .cards p {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
}
main .contenedor12 .cards .imagen-card {
  background-color: white;
  height: 240px;
  margin-bottom: 15px;
  background-size: cover;
}
main .contenedor12 .cards .tarjeta1 {
  background-image: url(../img/Dinero.jpg);
}
main .contenedor12 .cards .tarjeta2 {
  background-image: url(../img/546955912_168440815_1024x576.jpg);
  background-position: center;
}
main .contenedor12 .cards .tarjeta3 {
  background: url(../img/inshow-party.jpg);
  background-size: cover;
  background-position: center;
}
main .preguntas h2 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  padding: 20px;
  background-color: white;
}
main .preguntas .accordion {
  margin-top: -10px;
}
main .preguntas .accordion-item {
  padding: 0;
}
main .preguntas .accordion-item button {
  font-weight: bolder;
}

/*Sección Contacto SASS*/
.grilla5 {
  background-color: #31384A;
  margin-top: -30px;
  margin-bottom: -50px;
  padding: 40px;
}
.grilla5 .duda-sugerencia {
  text-align: center;
  margin-top: 10px;
  font-family: "Poppins", sans-serif;
  color: white;
}
.grilla5 .duda-sugerencia h1 {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
}
.grilla5 .duda-sugerencia h3 {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
}

form {
  width: 450px;
  margin: auto;
  background: rgba(0, 0, 0, 0.3);
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 50px;
  border-radius: 10px;
  margin-bottom: 50px;
}
form h2 {
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: white;
  margin: 0;
  font-size: 30px;
  margin-bottom: 20px;
}
form input {
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
}
form input, form textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 7px;
  box-sizing: border-box;
  font-size: 17px;
  border: none;
}
form textarea {
  min-height: 100px;
  max-height: 0px;
  max-width: 500px;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
}
form #boton {
  background-color: #31384A;
  color: white;
  padding: 20px;
}
form #boton:hover {
  cursor: pointer;
}

/*Sección Servicios SASS*/
main .titulo-servicios {
  text-align: center;
  padding: 70px;
  font-size: 30px;
  margin-top: -30px;
  margin-bottom: -20px;
  background-image: url(../img/fondo-blog.png);
  background-size: cover;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
}
main #grilla {
  background-image: url(../img/fondo-blog.png);
  background-size: cover;
  padding: 70px;
  margin-top: -100px;
}
main #grilla .card3 {
  margin: 40px;
}
main #grilla .card3 .imagentarj {
  margin-left: 0px;
}
main #grilla .card3 .card-cuerpo h5 {
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
}
main #grilla .card3 .card-cuerpo p {
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
}
main #grilla .card3 .card-cuerpo .botoncard {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: white;
  background-color: #032B43;
  border-radius: 6px;
  border-color: #032B43;
  padding: 5px 14px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}

/*Sección Portfolio SASS*/
.titulo-portfolio {
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  margin-top: -5px;
  font-size: 20px;
  text-align: center;
  background-image: url(../img/fondo-blog.png);
  padding: 50px;
}
.titulo-portfolio h2 {
  font-weight: bolder;
}

#grilla2 {
  background-image: url(../img/fondo-blog.png);
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 2fr 2fr 2fr;
  gap: 80px;
}
#grilla2 .card2 {
  margin: 40px;
}
#grilla2 .card2 .cardport1 {
  margin-left: 0px;
  height: 290px;
}
#grilla2 .card2 .cardport {
  margin-left: 0px;
}
#grilla2 .card2 .card-cuerpo2 h5 {
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
}
#grilla2 .card2 .card-cuerpo2 p {
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
}
#grilla2 .card2 .card-cuerpo2 .botoncard-port {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: white;
  background-color: #032B43;
  border-radius: 6px;
  border-color: #032B43;
  padding: 5px 14px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}

/*Sección Sobre Mi SASS*/
#grilla3 {
  background-image: url(../img/fondo-blog.png);
}
#grilla3 .centrar {
  margin-left: -5px;
  margin-bottom: 20px;
  padding: 40px;
}
#grilla3 .centrar h2 {
  margin-bottom: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  font-size: 35px;
}
#grilla3 .centrar .imagenres {
  height: 213px;
}
#grilla3 .quiensoy {
  padding: 20px;
  margin-bottom: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  font-size: 30px;
  margin-bottom: 0px;
  grid-area: quiensoy;
}
#grilla3 .quiensoy p {
  text-align: center;
  margin-bottom: 20px;
}

/*Hover y After enlaces para la barra de navegación*/
.pse-enlaces {
  display: inline-block;
  position: relative;
}
.pse-enlaces::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.6s ease-out;
}
.pse-enlaces:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/*Hover cards: seccion "Por que elegirme" del index*/
.cards:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}

/*Modal para Preguntas frecuentes*/
.modal-letra {
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
}

.titulo-modal {
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
}

.modal-boton {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: white;
  background-color: #032B43;
  border-radius: 6px;
  border-color: #032B43;
  padding: 5px 14px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}

/*Media index solo 480px*/
@media (max-width: 480px) {
  .contenedor12 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../img/fondo-suelo-textura-madera-blanca_53876-63634.webp);
    background-size: auto;
    margin-top: -800px;
  }

  .grilla4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .info {
    display: flex;
    flex-direction: column;
  }

  .pse-enlaces::after {
    content: "";
    position: absolute;
    width: 55px;
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.6s ease-out;
  }

  .pse-enlaces:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  #promo-video {
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 10px;
    height: 146px;
    width: 300px;
  }
}
/*Media form solo de 480px*/
@media (max-width: 480px) {
  form {
    width: 100%;
  }
}
/*Media portfolio desde 1272px hasta 375px*/
@media (max-width: 1272px) {
  #grilla2 {
    background-color: white;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr;
    gap: 80px;
  }
}
@media (max-width: 1252px) {
  #grilla2 {
    background-color: white;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr;
    gap: 80px;
  }
}
@media (max-width: 833px) {
  #grilla2 {
    background-color: white;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr;
    gap: 80px;
  }
  #grilla2 .card2 {
    margin: 40px;
    margin-top: 100px;
  }
}
@media (max-width: 790px) {
  #grilla2 {
    background-color: white;
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 2fr;
    gap: 30px;
  }
  #grilla2 .card2 {
    margin-left: 260px;
    margin-top: 100px;
  }
}
@media (max-width: 794px) {
  #grilla2 {
    background-color: white;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr;
  }
  #grilla2 .card2 {
    margin: 30px;
    margin-top: 100px;
  }
}
@media (max-width: 582px) {
  #grilla2 {
    background-color: white;
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 2fr;
    gap: 30px;
  }
  #grilla2 .card2 {
    margin: 140px;
    margin-top: 100px;
  }
}
@media (max-width: 583px) {
  #grilla2 {
    background-color: white;
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 2fr;
    gap: 30px;
  }
  #grilla2 .card2 {
    margin: 90px;
    margin-top: 100px;
  }
}
@media (max-width: 713px) {
  #grilla2 {
    background-color: white;
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 2fr;
    gap: 30px;
  }
  #grilla2 .card2 {
    margin: 200px;
    margin-top: 100px;
  }
}
@media (max-width: 480px) {
  #grilla2 {
    background-color: white;
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 2fr;
    gap: 30px;
  }
  #grilla2 .card2 {
    margin: 100px;
    margin-top: 100px;
  }
}
@media (max-width: 455px) {
  #grilla2 {
    background-color: white;
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 2fr;
    gap: 30px;
  }
  #grilla2 .card2 {
    margin: 60px;
    margin-top: 100px;
  }
}
@media (max-width: 375px) {
  #grilla2 {
    background-color: white;
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 2fr;
    gap: 30px;
  }
  #grilla2 .card2 {
    margin: 40px;
    margin-top: 100px;
  }
}
/*Media sobremi solo de 480px*/
@media (max-width: 480px) {
  .imagenres {
    height: 200px;
  }
}
/*Media icono para todas las secciones solo de 480px*/
@media (max-width: 480px) {
  .icono:hover {
    transform: scale(1.5);
    transition-property: all;
    transition-duration: 2s;
  }
}
/*Creamos una clase generica*/
.Previa-title, .previa--titulo {
  color: blueviolet;
}

/*Clase de portafolio (previa4)*/
.previa--titulo {
  color: #0B2545;
  font-weight: 200;
}

/*Mapa para el index en la parte del accordion de preguntas frecuentes*/
/*Declaro el mapa*/
/*Declaro la lista para usar los valores del mapa*/
.acco--texto1 {
  color: #231F20;
}

.acco--texto2 {
  color: #231F20;
}

.acco--texto3 {
  color: #231F20;
}

/*Declaramos un mixin generico en este caso de $color, le ponemos un nombre y le declaramos sus claves*/
/*Llamamos a las clases (Iluminacion, Maquina de humo y Ambientacion en la sección de Servicios)*/
.iluminacion, .maquina-humo, .ambiente {
  /*Llamamos al mixin con include y le pasamos los argumentos*/
  color: #0B2545;
  /*aqui ponemos el valor de $color*/
  font-weight: 500;
}

/*Aquí solo me quedan imports*//*# sourceMappingURL=style.css.map */