/*Variable de color blanco para los titulos y subtitulos del index (DJ PORTERO, CALIDAD, PRECIO Y DIVERSIÓN)*/
$titulo-subColor:white;

/*Background color grilla5 sección Contacto*/
$background-grilla5:#31384A;

/*Color negro para la clase colores2 del subtitulo "Solo para divertidos"*/
$colores2-sub:black;

