/*Sección Contacto SASS*/

.grilla5{

    background-color: $background-grilla5;
    margin-top: -30px;
    margin-bottom: -50px;
    padding: 40px;

    .duda-sugerencia{

        text-align: center;
        margin-top: 10px;
        font-family: 'Poppins', sans-serif;
        color: #ffff;

        h1{

            font-family: 'Poppins', sans-serif;
            font-size: 30px;

        }

        h3{

            font-family: 'Poppins', sans-serif;
            font-size: 30px;

        }
    
    
    }

    

}

form{

    width: 450px;
    margin: auto;
    background: rgba(0, 0, 0, 0.3);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 50px;
    border-radius: 10px;
    margin-bottom: 50px;

    h2{

        font-family: 'Poppins', sans-serif;
        text-align: center;
        color: white;
        margin: 0;
        font-size: 30px;
        margin-bottom: 20px;
    
    
    }
    input{

        font-family: 'Poppins', sans-serif;
        font-weight: bolder;
    
    }
    input, textarea{

        width: 100%;
        margin-bottom: 20px;
        padding: 7px;
        box-sizing: border-box;
        font-size: 17px;
        border: none;
    
    }
    textarea{

        min-height: 100px;
        max-height: 0px;
        max-width: 500px;
        font-family: 'Poppins', sans-serif;
        font-weight: bolder;
    
    }
    #boton{

        background-color: #313D5A;
        color: #ffff;
        padding: 20px;

        &:hover{

            cursor: pointer;
            
        
        }
    
    
    }


}