.modal-letra{

    font-family: 'Poppins', sans-serif;
    font-weight: bolder;

}

.titulo-modal{

    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    

}

.modal-boton{

    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: white;
    background-color: #032B43;
    border-radius: 6px;
    border-color: #032B43;
    padding: 5px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);

}