/*Sección Portfolio SASS*/


    .titulo-portfolio{


        font-family: 'Poppins', sans-serif;
        font-weight: bolder;
        margin-top: -5px;
        font-size: 20px;
        text-align: center;
        background-image: url(../img/fondo-blog.png);
        padding: 50px;

        h2{

            font-weight: bolder;
        
        }
        

    
    
    }

    #grilla2{

        background-image: url(../img/fondo-blog.png);
        display: grid;
        grid-template-columns: 2fr 2fr 2fr;
        grid-template-rows: 2fr 2fr 2fr;
        gap: 80px;
        

        .card2{

            margin: 40px;

            .cardport1{

                margin-left: 0px;
                height: 290px;
            
            }
            .cardport{

                margin-left: 0px;
                
            
            }
            .card-cuerpo2{

                h5{

                    font-family: 'Poppins', sans-serif;
                    font-weight: bolder;

                }
                p{

                    font-family: 'Poppins', sans-serif;
                    font-weight: bolder;

                }

                .botoncard-port{

                    font-family: 'Poppins', sans-serif;
                    font-weight: 300;
                    color: white;
                    background-color: #032B43;
                    border-radius: 6px;
                    border-color: #032B43;
                    padding: 5px 14px;
                    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
                    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);

                }

            }

        }
        
        
        
    
    }

