/*Media index solo 480px*/

@media(max-width:480px){

    .contenedor12{

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-image: url(../img/fondo-suelo-textura-madera-blanca_53876-63634.webp);
        background-size: auto;
        margin-top: -800px;
        
    
    }

    .grilla4{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }

    .info{

        display: flex;
        flex-direction: column;
        

    }



    .pse-enlaces::after{

        
        content: "";
        position: absolute;
        width: 55px;
        height: 4px;
        bottom: 0;
        left: 0;
        background-color: black;
        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform 0.6s ease-out;
    
    }
    
    .pse-enlaces:hover:after{
    
        transform: scaleX(1);
        transform-origin: bottom left;
    
    }

    #promo-video{

        margin-top: 30px;
        margin-left: 10px;
        margin-bottom: 10px;
        height: 146px;
        width: 300px;


    }


}


@media(max-width:375px){

    .logoInicio{

        margin-left: -23px;

    }

}

@media(max-width:390px){

    .logoInicio{

        margin-left: -22px;

    }

}

/*Media form solo de 480px*/

@media(max-width:480px){


    form{

        width: 100%;

    }


}

/*Media portfolio desde 280px hasta 1272px*/

@media (max-width:1272px){

    #grilla2{

        background-color: white;
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 2fr 2fr;
        gap: 80px;
        
    
    }


}

@media (max-width:1252px){

    #grilla2{

        background-color: white;
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 2fr 2fr;
        gap: 80px;
        
    
    }


}

@media (max-width:833px){

    #grilla2{

        background-color: white;
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 2fr 2fr;
        gap: 80px;

        .card2{

            margin: 40px;
            margin-top: 100px;


        }
        
    
    }

}

@media (max-width:790px){

    #grilla2{

        background-color: white;
        display: grid;
        grid-template-columns: 2fr;
        grid-template-rows: 2fr;
        gap: 30px;

        .card2{

            
            margin-left: 260px;
            margin-top: 100px;
    
        }
        
        
    
    }


}



@media (max-width:794px){


    #grilla2{

        background-color: white;
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 2fr 2fr;

        .card2{

            margin: 30px;
            margin-top: 100px;

        }

    }

}



@media (max-width:582px){


    #grilla2{

        background-color: white;
        display: grid;
        grid-template-columns: 2fr;
        grid-template-rows: 2fr;
        gap: 30px;

        .card2{

            margin: 140px;
            margin-top: 100px;
        }
        
        
        
    
    }


}

@media(max-width:583px){

    #grilla2{

        background-color: white;
        display: grid;
        grid-template-columns: 2fr;
        grid-template-rows: 2fr;
        gap: 30px;

        .card2{

            margin: 90px;
            margin-top: 100px;
        }
        
        
        
    
    }


}

@media (max-width:713px){

    #grilla2{

        background-color: white;
        display: grid;
        grid-template-columns: 2fr;
        grid-template-rows: 2fr;
        gap: 30px;

        .card2{

            margin: 200px;
            margin-top: 100px;
        }
        
        
        
    
    }


}


@media (max-width:480px){

    #grilla2{

        background-color: white;
        display: grid;
        grid-template-columns: 2fr;
        grid-template-rows: 2fr;
        gap: 30px;

        .card2{

            margin: 100px;
            margin-top: 100px;
        }
        
        
        
    
    }


}


@media(max-width:455px){

    #grilla2{

        background-color: white;
        display: grid;
        grid-template-columns: 2fr;
        grid-template-rows: 2fr;
        gap: 30px;

        .card2{

            margin: 60px;
            margin-top: 100px;
        }
        
        
        
    
    }


}

@media(min-width:280px)and(max-width:391px){


    #grilla2{

        background-color: white;
        display: grid;
        grid-template-columns: 2fr;
        grid-template-rows: 2fr;
        gap: 30px;

        .card2{

            
            margin-top: 100px;
            margin-left: -25px;
            height: 500px;
        }
        
        
        
    
    }


}

@media(min-width:360px)and(max-width:375px){

    #grilla2{

        background-color: white;
        display: grid;
        grid-template-columns: 2fr;
        grid-template-rows: 2fr;
        gap: 30px;

        .card2{

            margin: 20px;
            margin-top: 100px;
        }
        
        
        
    
    }


}



@media(min-width:375px)and(max-width:412px){

    #grilla2{

        background-color: white;
        display: grid;
        grid-template-columns: 2fr;
        grid-template-rows: 2fr;
        gap: 30px;

        .card2{

            margin: 20px;
            margin-top: 100px;
        }
        
        
        
    
    }


}


@media(min-width:412px)and(max-width:430px){

    #grilla2{

        background-color: white;
        display: grid;
        grid-template-columns: 2fr;
        grid-template-rows: 2fr;
        gap: 30px;

        .card2{

            margin: 50px;
            margin-top: 100px;
        }
        
        
        
    
    }


}




@media(min-width:481px) and (max-width:490px){

    #grilla2{

        background-color: white;
        display: grid;
        grid-template-columns: 2fr;
        grid-template-rows: 2fr;
        gap: 30px;

        .card2{

            margin: 90px;
            margin-top: 100px;
        }
        
        
        
    
    }


}

@media(min-width:491px) and (max-width:520px){

    #grilla2{

        background-color: white;
        display: grid;
        grid-template-columns: 2fr;
        grid-template-rows: 2fr;
        gap: 30px;

        .card2{

            margin: 80px;
            margin-top: 100px;
        }
        
        
        
    
    }


}

@media(min-width:521px) and (max-width:550px){

    #grilla2{

        background-color: white;
        display: grid;
        grid-template-columns: 2fr;
        grid-template-rows: 2fr;
        gap: 30px;

        .card2{

            margin: 100px;
            margin-top: 100px;
        }
        
        
        
    
    }


}

@media(min-width:550px) and (max-width:580px){

    #grilla2{

        background-color: white;
        display: grid;
        grid-template-columns: 2fr;
        grid-template-rows: 2fr;
        gap: 30px;

        .card2{

            margin: 130px;
            margin-top: 100px;
        }
        
        
        
    
    }


}

@media(min-width:580px) and (max-width:630px){

    #grilla2{

        background-color: white;
        display: grid;
        grid-template-columns: 2fr;
        grid-template-rows: 2fr;
        gap: 30px;

        .card2{

            margin: 150px;
            margin-top: 100px;
        }
        
        
        
    
    }


}



/*Media sobremi solo de 480px*/

@media (max-width:480px){

    .imagenres{

        height: 200px;

    }

}


/*Media icono para todas las secciones solo de 480px*/

@media (max-width:480px){

    .icono{

        &:hover{

            transform: scale(1.5);
            transition-property: all;
            transition-duration: 2s;

        }

    }


}